{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

	<head>
	    <link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}" />
	    <title>{% block title %}PlaceholderCurtin{% endblock %}</title>
	{% block head %}
    {% endblock head %}
	</head>

	<body>
		<div id="header">
			<div id="logo">
				<h1> Placeholder Project Logo</h1>
			</div>
			<div id="toolbar">
				<ol>
					<div id="right">
					{% if user.is_authenticated %}
						<li><a href="/accounts">{{ user.username }}</a><a href="/submission/">submit</a> <a href="/logout/">logout</a></li>
					{% else %}
						<li><a href="/accounts/login" class="login-link">Login</a></li>
						<li><a href="/accounts/signup" class="signup-link">Sign Up</a></li>
					{% endif %} 
					</div>
					<div id="left">
						<li><span><a href="/" class="home-link">Home</a></span></li>
					</div>
				</ol>
			</div>
		</div>

		<div id="content">
		{% block content %}

		This is the stock template for the project, the text in this particular section is overwritten by templates that extend this base. In your child template you can put {% verbatim %} {% block content %} Your content {%endblock%} {% endverbatim %} which will result in this text being replaced with "Your content"
		
		{% endblock content %}
		</div>
	</body>

</html>