{% extends "base.html" %}

{% block title %}Accounts{% endblock %}

{% block content %}
<li><a href="editprofile/">Edit profile</a></li>
<li><a href="password/change/">Change Password</a></li>

<h2>{{ user.username }}</h2>
<h3>About:</h3>
<li><p>Department: {{ user.userprofile.department }}</p></li>
<li><p>Name: {{ user.first_name }} {{ user.last_name }}</p></li>
<li><p>email: {{ user.email }}</p></li>
<li><p>points: {{ user.userprofile.points }}</p></li>

{% endblock %}