{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<form action="" method="post"> 
{% csrf_token %}
<li>
	<p>
		{{ form.old_password.errors }}
		<label for="old_password">Old password:</label>
		{{ form.old_password }}
	</p>
	<p>
		{{ form.new_password1.errors }}
		<label for="new_password1">New password:</label>
		{{ form.new_password1 }}
		
	</p>
	<p>
		{{ form.new_password2.errors }}
		<label for="new_password2">Confirm password:</label>
		{{ form.new_password2 }}
		
	</p>
	<p>
		<input type="submit" value="Change my password" />
	</p>
</li>
</form>

{% endblock %}