{% extends "base.html" %} 
{% load submission_extras %}

{% block head%}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="static/js/submissionvote.js"></script>
{% endblock head %}

{% block content %}
<div class="search">
<form method="get" action="/search/">
    <!--<label for="id_q">Search:</label>-->	
    <input type="text" name="q" id="id_q"/>
	<input type="submit" value="Search"/>
</form>
</div>
<a href="/new/">Sort by new</a>
<a href="/top/">Sort by top</a>
<!--<div class="submissions">-->
    <ol>
	{% for submission in submissions %}
	<div class="submission">
	    <li>
		<!--<div class="submission">-->
		<div id="voting">
		{% if user.is_authenticated %}
			{% if submission in loved_submissions %}
                <div id="like"><a href="voteLike/" id="submission-voteLike-{{ submission.id }}" class="voteLike">+1</a></div>
                <div id="dislike"><a href="voteDislike/" id="submission-voteDislike-{{ submission.id }}" class="voteDislike">-1</a></div>
				<div id="hate"><a href="voteHate/" id="submission-voteHate-{{ submission.id }}" class="voteHate">-3</a></div>
			{% elif submission in hated_submissions %}
				<div id="love"><a href="voteLove/" id="submission-voteLove-{{ submission.id }}" class="voteLove">+3</a></div>
				<div id="like"><a href="voteLike/" id="submission-voteLike-{{ submission.id }}" class="voteLike">+1</a></div>
				<div id="dislike"><a href="voteDislike/" id="submission-voteDislike-{{ submission.id }}" class="voteDislike">-1</a></div>
			{% elif submission in liked_submissions %}
				<div id="love"><a href="voteLove/" id="submission-voteLove-{{ submission.id }}" class="voteLove">+3</a></div>
				<div id="dislike"><a href="voteDislike/" id="submission-voteDislike-{{ submission.id }}" class="voteDislike">-1</a></div>
				<div id="hate"><a href="voteHate/" id="submission-voteHate-{{ submission.id }}" class="voteHate">-3</a></div>
			{% elif submission in disliked_submissions %}
				<div id="love"><a href="voteLove/" id="submission-voteLove-{{ submission.id }}" class="voteLove">+3</a></div>
				<div id="like"><a href="voteLike/" id="submission-voteLike-{{ submission.id }}" class="voteLike">+1</a></div>
				<div id="hate"><a href="voteHate/" id="submission-voteHate-{{ submission.id }}" class="voteHate">-3</a></div>
			{% else %}
				<div id="love"><a href="voteLove/" id="submission-voteLove-{{ submission.id }}" class="voteLove">+3</a></div>
                <div id="like"><a href="voteLike/" id="submission-voteLike-{{ submission.id }}" class="voteLike">+1</a></div>
                <div id="dislike"><a href="voteDislike/" id="submission-voteDislike-{{ submission.id }}" class="voteDislike">-1</a></div>
				<div id="hate"><a href="voteHate/" id="submission-voteHate-{{ submission.id }}" class="voteHate">-3</a></div>
			{% endif %}
		{% endif %}
		</div>
		<div id="submission-info">
		    <p><a href="{{submission.url}}" id="submission-title-{{ submission.id }}">{{submission.title}}</a><span class="domain"> ({{submission.domain}})</span></p>
		    <p id="points">{{submission.points}} points by {{submission.moderator.username}} {{submission.created_at|age}}</p>
		    <p><a href="{{ submission.get_absolute_url }}">comments</a></p></p>
		</div>
	        <!--</div>-->
	    </li>
	</div>
	{% endfor %}
    </ol>
<!--</div>-->
{% endblock content %}

